.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 60px;
    background: white;
}

.logo {
    width: 150px;
}

/* MENU */
.navbar-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    font-weight: 900;
    font-size: larger;
}

.navbar-menu li,
.navbar-menu a {
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.navbar-menu .active {
    border-bottom: 2px solid #ff7a00;
}

/* RIGHT SIDE */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 22px;
}

.icon {
    width: 24px;
    cursor: pointer;
}

/* CART */
.navbar-cart {
    position: relative;
}

.dot {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}

/* SIGN IN */
.signin-btn {
    background: #ff7a00;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

/* PROFILE */
.navbar-profile {
    position: relative;
}

.navbar-profile img {
    width: 28px;
}

.nav-profile-dropdown {
    position: absolute;
    right: 0;
    top: 42px;
    background: white;
    padding: 10px 12px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: none;
    min-width: 140px;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown li img {
    width: 18px;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: block;
}
