.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width:150px;
}

/* MENU */
.navbar-menu{
    display:flex;
    list-style:none;
    gap:20px;
    color:#49557e;
    font-size:18px;
}

.navbar li,
.navbar a{
    cursor: pointer;
    text-decoration: none;
    color:#49557e;
}

.navbar .active{
    padding-bottom:2px;
    border-bottom:2px solid #49557e;
}

/* RIGHT SECTION */
.navbar-right{
    display:flex;
    align-items:center;
    gap:40px;
}

/* SIGN IN BUTTON */
.navbar button{
    background: transparent;
    font-size: 16px;
    color:#49557e;
    border: 1px solid tomato;
    padding:10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition:0.3s;
}

.navbar button:hover{
    background-color: #fff4f2;
}

/* ICONS */
.icon{
    width:24px;
    cursor:pointer;
}

/* CART */
.navbar-cart{
    position:relative;
}

.navbar-cart .dot{
    position:absolute;
    min-width:10px;
    min-height:10px;
    background-color: tomato;
    border-radius:50%;
    top:-8px;
    right:-8px;
}

/* PROFILE */
.navbar-profile{
    position:relative;
}

/* DROPDOWN */
.nav-profile-dropdown{
    position:absolute;
    display:none;
    right:0;
    top:30px;
    z-index:1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display:flex;
    flex-direction: column;
    gap:10px;
    background-color:#fff4f2;
    padding:12px 25px;
    border-radius:4px;
    border:1px solid tomato;
    outline:2px solid white;
    list-style:none;
}

.nav-profile-dropdown li{
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-profile-dropdown img{
    width:20px;
}

.nav-profile-dropdown li:hover{
    color:tomato;
}
